<div class="wrapper">
    <section>
        <h1>Introducing OpenMyData</h1>
        <h4>Slogan</h4>
        <a class="btn btn-success btn-lg" href="<%= new_dataset_path %>">Import</a>
        <a class="btn btn-info btn-lg" href="<%= new_dataset_path %>">Use</a>
    </section>
</div>
<div class="wrapper bg-yellow">
    <section>
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h1>Opendatas</h1>
                    <h4>Description</h4>
                </div>
                <div class="col-md-6">
                    <a class="btn btn-info btn-lg" href="<%= new_dataset_path %>">Use</a>
                </div>
            </div>
        </div>
    </section>
</div>
<div class="wrapper bg-red">
    <section>
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <a class="btn btn-info btn-lg" href="<%= new_dataset_path %>">Use</a>
                </div>
                <div class="col-md-6">
                    <h1>Open my Data</h1>
                    <h4>Description</h4>
                </div>
            </div>
        </div>
    </section>
</div>