<div class="wrapper">
    <section class="full">
        <h1>Introducing OpenMyData</h1>
        <h4 style="margin: 40px 0;">
            <p>台北市優質餐廳列表、總統下鄉行程、台南牛肉湯</p>
            <p>只要兩個簡單步驟，輕鬆分享手中資料</p>
            <p>讓世界更加美好</p>
        </h4>
        <a class="btn btn-info btn-lg" href="#use">Explore</a>
        <a class="btn btn-success btn-lg" href="#share">Share</a>
    </section>
</div>
<div class="wrapper bg-blue">
    <a id="use"></a>
    <section class="full">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <h1>Your Open Data</h1>
                    <h4 style="margin: 40px 0;">
                        <p>目前我們有 <%= @dataset_count %> 筆使用者自發提供的開放資料</p>
                        <p>美食列表、優良店家、公車到站時刻</p>
                        <p>全在一擊之遙</p>
                    </h4>
                    <a class="btn btn-default btn-lg" href="<%= datasets_path %>">Explore</a>
                </div>
                <div class="col-md-4">
                    placeholder for image
                </div>
            </div>
        </div>
    </section>
</div>
<div class="wrapper bg-green">
    <a id="share"></a>
    <section class="full">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    placeholder for image
                </div>
                <div class="col-md-8">
                    <h1>Open Your Data</h1>
                    <h4 style="margin: 40px 0;">
                        <p>我們支援多樣的資料格式，你還可以提供 API 網址供人使用</p>
                        <p>每一筆你所上傳的資料因此可以讓普羅大眾自由使用</p>
                        <p>讓我們一起藉由開放資料，打造更自由便利的明日</p>
                    </h4>
                    <a class="btn btn-default btn-lg" href="<%= new_dataset_path %>">Share</a>
                </div>
            </div>
        </div>
    </section>
</div>
