/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
@import "twitter/bootstrap";

#main { padding: 30px 0; }
.wrapper {
    margin:0;
    padding:0;
    h4 {
        color: #999;
    }
}
h1, h2, h3, h4, h5, h6 {
    font-family: "Open Sans";
    font-weight: 300;
    color: #444444;
    text-rendering: optimizeLegibility;
    padding-top: 0.273em;
    line-height: 1.15538em;
    padding-bottom: 0.273em;
}
.bg-blue {
    background: #4682b4;
    color: white;
    h1 {
        color: white;
    }
    h4 {
        color: white;
    }
}
.bg-green {
    background: #3cb371;
    color: white;
    h1 {
        color: white;
    }
    h4 {
        color: white;
    }
}
.center {
    margin-left: auto;
    margin-right: auto;   
}