// Place all the styles related to the datasets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body.datasets-controller.new-action {
    height: 100%;
    #main {
        width: 100%;
        padding: 30px 0;
        height: 100%;
        div.wrapper, div.fix-wrapper {
            height: 100%;
        }
    }
    h4 { 
        text-align: left; 
        small {
            color: #ddd;
        }
    }
    p {
        text-align:left;
    }
    section.full {
        height: 100%;
    }
    .actions {
        margin-top: 30px;
    }
}

body.datasets-controller.index-action, body.searching {
    background: #eee;
    .dataset {
        width: 90%;
        background: #fff;
        padding: 25px 10px;
        margin: 10px;
        color: #333;
        box-shadow: 0 2px rgba(200, 200, 200, 0.5);
        cursor: pointer;
	position: relative;
	.indicator{ display: none }
        &:hover {
            box-shadow: 0 2px rgba(100, 100, 100, 0.5);
	    .indicator{
		display: block;
		position: absolute;
		width: 100%;
		bottom: 5px;
		color: #aaa;
		text-align: center;
		font-size: 6px;
	    }
        }
        h2 {
            margin: 0;
            font-weight: 400;
        }
        .desc {
            color: #666;
            font-size: 20px;
        }
        .owner {
            font-size: 140%;
            img {
                width: 40px;
            }
        }
        .time {
            color: #666;
            float: right;
        }
	.more .table-wrapper{
	    max-height: 150px;
	    overflow: hidden;
	}
    }
}

body.datasets-controller.show-action {
    h2{ border-bottom: 1px solid #eee; }
    span.username {
        font-size: 35px;
        line-height: 80px;
    }
}
